@{
    ViewBag.Title = "Home Page";
}
<div>
    <h1 class="icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


        <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
        <a href="https://twitter.com/?lang=es" class="fa fa-twitter"></a>
        <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
        <a href="https://www.youtube.com/?hl=es-419&gl=MX" class="fa fa-youtube"></a>

    </h1>

</div>
<div class="jumbotron">
    
    <h1 class="display-4">Bienvenidos a su pagina favorita de Autos!</h1>
    <p class="lead">Aqui encontraras los mejores autos, de todo tipo y estilos.</p>
    <hr class="my-4">
    <p>Algunas de nuestras fotografias mas recientes.</p>
    
</div>

<div class="row">
    <div>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="https://cdn.motor1.com/images/mgl/1x9W7/s3/le-10-lamborghini-piu-rare-e-costose-di-sempre.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://img.motoryracing.com/noticias/portada/30000/30169-n.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/descarga-5-1576775899.jpg?crop=1.00xw:0.753xh;0,0.164xh&resize=1200:*" alt="Third slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://cdn.motor1.com/images/mgl/Q07o1/s3/2020-lamborghini-huracan-spyder-review.jpg" alt="Four slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://cdn.autobild.es/sites/navi.axelspringer.es/public/media/image/2017/11/lamborghini-terzo-millenio_12.jpg" alt="Five slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
    </div>
</div>
