body {
   margin: 0;
   padding: 0;
}

.bg principal {
    background-color: #392F2D;
}

.icons {
    padding: 10px;
    font-size: 50px;
    width: 100%;
    display: flex;
    justify-content:space-around;
    
}
.fa-facebook {
    color: #525252;
    
}
.fa-youtube {
    color: #525252;
}
.fa-instagram {
    color: #525252;
}
.fa-twitter {
    color: #525252;
}